<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="An app for notifying you of crises near you and your loved ones." />

    <title>@ViewBag.Title - Social Shield</title>

    @Styles.Render("~/Content/core.bundle")
    @RenderSection("styles", false)
</head>
<body>
    <nav class="bg-dark navbar navbar-dark navbar-expand-lg">
        <div class="container">
            @Html.ActionLink("Social Shield", "Index", "Home", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="mr-auto navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Schools", "Index", "Schools", null, new { @class = "nav-link" })</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="body-content container">
        @RenderBody()
    </div>

    <hr />

    <footer class="container">
        <p class="text-right">&copy; @DateTime.Now.Year - Social Shield</p>
    </footer>

    @Scripts.Render("~/bundles/core")
    @RenderSection("scripts", false)
</body>
</html>